@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('navbar.css');


*{
    margin:0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

body{
    background: #013a63;
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.accueil{
    display: flex;

    margin: 10px auto 0;
    width: 100%;
    gap: 15px;
    text-align: center;
    font-family: 'Roboto Mono', monospace, black;

    font-size: 20px;
    font-weight: bold;

    color: white;
}

.accueil p{
    margin: auto;
}





::-webkit-scrollbar {
    width: 0px;
  }




.Competences{
    font-family: 'Roboto Mono', monospace, black;
    margin: 50px auto;
    display: flex;
    /*grid-template-columns: repeat(auto-fit, 550px);*/
    justify-content: space-between;
    width: 90vw;
    gap: 1vw;

    max-width: 1600px;
    height: 100%;
    flex-wrap: wrap;
    column-gap: 2vw;

    text-align: center;
    align-items: center;
}


h1{
    font-family: 'Roboto Mono', monospace;
    margin-top: 1%;
    margin-left: 1%;
    
}

.ContenuMillieu h2{
    margin: auto;
}

.ContenuMillieu{

    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1000px;
    
    margin: 60px auto;
    background: var(--darkblue);
    color: white;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.3s;


}

.TitreProjet{
    margin:5px auto;
    color : white;
}

.projet ul {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

 }

 .global{
  margin: auto;
  width: 100%;
  min-height: calc(100vh -50px);
  display: flex;
  flex-direction: column;
}


.ligne{
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ligne img{
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color: white;
}

.projet{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;

}

.MasterMind{
    height: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjetMasterMind{
    height: 90%;
    width: 90%;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}


@media screen and (max-width:769px){
  .ligne{
      flex-direction: column;
  }

  .left{
      display: none;
  }

  .right{
      display: none;
  }

  .bienvenue{
      display: flex;
  }

  .Apropos{
      display: flex;
  }

  .upper img{
      width: 80px;
      height: auto;
  }


  .categorie{
      font-size: 10px;
  }
}


@media(max-width:600px){
  .upper h1{
      font-size: max(4vw,15px);
  }
}

@media(max-width:340px){
  .upper h1{
      font-size: 12px;
  }

}


